
# Set default behavior to automatically normalize line endings
* text=auto



# Ignore HTML files in language statistics
*.ipynb linguist-generated=true





# Force Python and JavaScript as the primary languages
*.py linguist-language=Python
*.js linguist-language=JavaScript

*.py merge=union
